.nav img {
  padding: 5px 0px 0px 10px;
}

.container1 {
    position: absolute;
    width: 100%;
}

.nav {
    background-color: #e5e5e5;
    position: relative;
}

.search {
    display: inline-block;
    background-color: #fff;
    width: 450px;
    position: absolute;
    bottom: 22%;
    margin-left: 20px;
}

.search-btn {
    background-color: #4285f4;
    padding: 7px;
    max-width: 20px;
    color: #fff;
    float:right;
}
